<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Todos</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= todos_path %>">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= todos_list_path %>">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= todos_new_path %>">Create</a>
      </li>
    </ul>
  </div>
</nav>
