<div class="row">
  <div class="col-sm-6">
    <strong>No completados</strong>
    <% @todos.select{|todo| !todo.completed}.each do |t| %>
    <div style="border:1px solid grey; padding:1em">
      <%= render 'edit', :todo=> t %>
    </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <strong>Completados</strong>
    <% @todos.select{|todo| todo.completed}.each do |t| %>
    <div style="border:1px solid grey; padding: 1em">
      <%= render 'edit', :todo=> t %>
    </div>
    <% end %>
  </div>
</div>
