<div class="row">
  <div class="col-sm-6">
    <strong>No completados</strong>
    <ul>
    <% @todos.select{|todo| !todo.completed}.each do |t| %>
    <li><%=t.description%></li>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <strong>Completados</strong>
    <ul>
    <% @todos.select{|todo| todo.completed}.each do |t| %>
    <li><%=t.description%></li>
    <% end %>
    </ul>
  </div>
</div>
